@media (max-width: 992px){
    header{
        height: auto;
    }
}
@media(max-width: 768px){
    .header-img{
        width: 400px;
        margin: auto;
    }
    .description{
        margin-left: 0px !important;
    }
}
@media(max-width: 576px){
    .description{
        margin-left: 1rem !important;
    }
}